<div>
  <!-- graphs -->
  <div>
    <div class="row text-center">
      <div class="col-6">
        <div>Current Graph</div>
        <div id="current" class="text-left"></div>
      </div>
      <div class="col-6">
        <div *ngIf="solving">Optimal Graph</div>
        <div id="optimal" class="text-left"></div>
      </div>
    </div>
  </div>
  <!-- customize graph -->
  <div>
    <!-- update num vertices -->
    <div class="row">
      <div *ngIf="!solving" class="col-6 text-left">
        <button class="btn btn-danger" (click)="decrementVertices()">-</button>
        V = {{ numVertices }}
        <button class="btn btn-success" (click)="incrementVertices()">+</button>
      </div>
      <div class="col-6 text-right">
        <button *ngIf="!solving" (click)="useExampleGraph()" class="btn btn-info">Example Graph</button>
        <button *ngIf="selectingSubs && !solving" (click)="editGraph()" class="btn btn-warning">Edit Graph</button>
        <button *ngIf="!selectingSubs" (click)="selectSubVertices()" class="btn btn-success">Select SubVertices</button>
      </div>
    </div>
    <div class="text-left">
      <button *ngIf="!selectingSubs" (click)="generateRandomEdges()" class="btn btn-primary">Generate Random Edges</button>
    </div>
    <div *ngIf="!solving && selectingSubs" class="inline-block">
      Choose a set of vertices by clicking on them.
      The subset of vertices will be colored red.
    </div>
    <div *ngIf="selectingSubs">
      <div>
        <button (click)="slower()" class="btn btn-primary inline-block">Slower (&#xF7;2)</button>
        <button [disabled]="!selectingSubs" (click)="algorithm()" class="btn" [ngClass]="{'btn-success': paused, 'btn-warning': !paused}">{{ paused ? 'Run Algorithm' : 'Pause Algorithm' }}</button>
        <button (click)="faster()" class="btn btn-danger inline-block">Faster (&#215;2)</button>
      </div>
      <div>
        Speed: &#215;{{ speed }}
      </div>
    </div>
    <div *ngIf="solving && paused">
      <button (click)="reset()">Reset</button>
    </div>
  </div>

  <div>
    <div *ngIf="weightSum !== null">Total weight of tree: {{ weightSum }}</div>
    <p *ngIf="subsets.length">Subset of Vertices:</p>
    <div *ngFor="let subset of subsets">
      &#123;
      <div *ngFor="let v of subset; let i = index" class="inline-block">
        <div [style.background-color]="v.color" class="vertice inline-block">{{ v.id.key }}</div>
        <div *ngIf="i !== subset.length-1" class="inline-block">,</div>
      </div>
      &#125;
    </div>
  </div>
</div>
