<div>
  <div>Steiner Tree</div>
  <!-- graphs -->
  <div>
    <div class="row text-center">
      <div class="col-6">
        <div>Current Graph</div>
        <div id="current" class="text-left"></div>
      </div>
      <div class="col-6">
        <div *ngIf="solving">Optimal Graph</div>
        <div id="optimal" class="text-left"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <p>Subset of Vertices:</p>
    {{ subsets }}
  </div>
  <!-- customize -->
  <div>
    <!-- update num vertices -->
    <div class="inline-block">
      <button class="btn btn-danger" (click)="decrementVertices()">-</button>
      V = {{ numVertices }}
      <button class="btn btn-success" (click)="incrementVertices()">+</button>
    </div>
    <div>
      <button *ngIf="!selectingSubs" (click)="selectSubVertices()">Select SubVertices</button>
      <button *ngIf="selectingSubs" (click)="algorithm()">Run Algorithm</button>
    </div>
  </div>
</div>
