#current {
    width: 100%;
    height: 300px;
    display: inline-block;
}
#optimal {
    width: 100%;
    height: 300px;
    display: inline-block;
}

.vertice {
    padding: 3px;
    display: inline-block;
    color: white;
    border-radius: 50%;
    margin: 2px 2px 2px 2px;
    width: 30px;
    text-align: center;
}

.subset {
    margin: 5px;
    padding: 5px;
}
