<div class="app-pages container bg-light">
  <div class="h2 text-center">Welcome to Visual Algos</div>

  <div class="row padding-lr-20">
    This is an algorithm visualization tool for instructors to
    use in their classes instead of drawing complex diagrams
    and graphs. Instructors may save the algorithm
    input, so they can send it to the students. Students can focus on what is happening
    in the algorithm, rather than taking notes, and instructors
    can spend more time on explaining the algorithmic logic,
    rather than drawing complicated diagrams.
  </div>
  <br>
  <div class="text-center">
    <h4>Counting Inversions</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qYTn0aOfM2Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  </div>
  </div>
  <div class="text-center">
    <h4>Kruskal's Minimum/Maximum Spanning Tree</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/J-Z11sqPff8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="text-center">
    <h4>Steiner Tree</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/reRRe_ZjkGU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
