<div>
  <div class="h4">Merge Sort</div>
  <div class="col-3">
    <div>
      <div>Enter integers separated by spaces to sort:</div>
      <input type="text" [(ngModel)]="userText" (keydown)="clearInputError()" (ngModelChange)="convertStringToArray()">
      <button class="btn btn-primary" (click)="sortArray()" [disabled]="!int_array.length || input_error.length || disable_solve">Solve</button>
      <div *ngIf="input_error.length" class="error">{{ input_error }}</div>
    </div>
    <div>
      Select Order:
      <select [(ngModel)]="ordering">
        <option value="ASC" selected>ASC</option>
        <option value="DESC">DESC</option>
      </select>
    </div>
  </div>
  <div class="col-9">
    <div *ngIf="mergedArray.length" class="text-center display-parent">
      <a *ngFor="let el of mergedArray; let i = index" class="integer">{{ el }}</a>
    </div>
    <div class="myTree"></div>
  </div>
  <!-- <h2>The mergesort algorithm will sort the left most leaves first</h2> -->
  <div class="row">
    <div class="col-6">
      <div *ngFor="let el of height_array; let i = index">
        Depth {{el}}:
        <span #treeBreak></span>
        <br/>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div *ngFor="let el of height_array; let i = index">
      Depth {{el}}:
      <span #treeMerge></span>
      <br/>
    </div>
  </div>
  <!-- <div class="myTree"></div> -->
</div>
