<div>
  <div class="h4">Counting Inversions</div>
  <div class="row">
    <div class="col-6 text-right">
      <div class="text-center">
        <div>Enter integers separated by spaces to sort:</div>
        <input type="text" [(ngModel)]="userText" (keydown)="clearInputError()" (ngModelChange)="convertStringToArray()" [disabled]="solving">
        <div *ngIf="input_error.length" class="error">{{ input_error }}</div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary inline-block" (click)="slower()" [disabled]="!solving">Slower (&#xF7;2)</button>
        <button *ngIf="!solving" class="btn btn-success inline-block" (click)="algorithm()" [disabled]="!int_array.length || input_error.length">Run Algorithm</button>
        <button *ngIf="solving" class="btn btn-success inline-block" (click)="pauseContinue()">{{ paused ? 'Run Algorithm' : 'Pause Algorithm' }}</button>
        <button class="btn btn-danger inline-block" (click)="faster()" [disabled]="!solving">Faster (&#215;2)</button>
        <div>Speed: &#215;{{ speed }}</div>
      </div>
    </div>
    <div class="col-6 text-left">
      <div *ngIf="!solving">
        Select Order:
        <select [(ngModel)]="ordering">
          <option value="ASC" selected>ASC</option>
          <option value="DESC">DESC</option>
        </select>
      </div>
      <div *ngIf="!solving">
        <button (click)="generateRandomInput()">Generate Random Input</button>
      </div>
      <div *ngIf="message.length" class="message">{{ message }}</div>
    </div>
  </div>
  <div>
    <div class="myTree"></div>
    <div *ngIf="beforeArray.length" [style.visibility]="displayBefore ? 'visible' : 'hidden'" class="text-center display-parent">
      <div *ngFor="let n of beforeArray" class="text-center display-parent">
        <div *ngIf="n.value.length">{{ n.inversions }}</div>
        <a *ngFor="let el of n.value" class="integer"
          [style.background-color]="el.background"
          [style.border-color]="el.border">
          {{ el.value }}
        </a>
      </div>
    </div>
    <div class="text-center display-parent">
      <div>{{ inversions }}</div>
      <a *ngFor="let el of mergedArray" class="integer"
        [style.background-color]="el.background"
        [style.border-color]="el.border">
        {{ el.value }}
      </a>
    </div>
    <div *ngIf="afterArray.length" [style.visibility]="displayAfter ? 'visible' : 'hidden'" class="text-center display-parent">
      <div *ngFor="let n of afterArray" class="text-center display-parent">
        <div *ngIf="n.value.length">{{ n.inversions }}</div>
        <a *ngFor="let el of n.value" class="integer"
          [style.background-color]="el.background"
          [style.border-color]="el.border">
          {{ el.value }}
        </a>
      </div>
    </div>
  </div>
</div>
