.app-pages {
    padding: 1rem;
    padding-top: 60px;
}

.footer {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 50px 5px 50px;
}