.integer {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  font-size: 20px;
  display: inline-block;
}

.display-parent {
  margin: 10px;
  display: inline-block;
}

.inline-block {
  display: inline-block;
}

.message {
  border-radius: 15px;
  padding: 10px;
  text-align: left;
  margin: 5px;
}

.orange-message {
  border: 0.5px solid rgb(255, 156, 34);
  background-color: rgb(255, 187, 104);
  color: rgb(77, 42, 0);
}

.dark-orange-message {
  border: 0.5px solid rgb(167, 97, 12);
  background-color: rgb(236, 149, 43);
  color: rgb(85, 52, 11);
}

.message-scroll-panel {
  border: 1.5px solid lightgray;
  overflow-y: scroll;
  height: 200px;
}

.message-scroll-panel::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.message-scroll-panel::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.scroll-panel {
  border: 1.5px solid lightgray;
  overflow-x: scroll;
  height: 100px;
}

.scroll-panel::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.scroll-panel::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.container {
  height: 640px;
}

.control {
  height: 300px;
}

.btn {
  margin: 10px 5px 10px 5px;
}

.block {
  display: block;
}